<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io(); // Establishes a connection with the Python backend.
    
    socket.on('connect', function() {}); // When the webpage is loaded, send the
                                        // 'connect' WebSocket event to the backend.
    
    socket.on('disconnect', function() {}); // When the webpage is closed, send the
                                            // 'disconnect' WebSocket event to the backend.

    function addToFeed(message) { // The process of adding something to the chat feed
                                  // is the same for every message regardless if it
                                  // was sent by a user or by the server.
                                  // This function is created so that code is not
                                  // repeated.

        const listElement = document.createElement('li'); // Creating a list element
                                                          // and assigning it to the constant listElement
        const listElementText = document.createTextNode(message); // Adding text to the previously created list element.
                                                                  // The string passed into the function is added to the list element.
        listElement.appendChild(listElementText); // Finalising the newly created list element.
        document.getElementById("feed").appendChild(listElement); // Adding the text to the feed.                                         
    };

    socket.on('announceUserConnect', function() { // When the JavaScript backend recieves the 'announceUserConnect' WebSocket event from the Python backend...
        addToFeed("A user has connected to the server.") // Add the new connection announcement to the feed for all users.
    });

    socket.on('announceUserDisconnect', function() { // When the JavaScript backend recieves the 'announceUserDisconnect' WebSocket event from the Python backend...
        addToFeed("A user has disconnected from the server.") // Add the disconnection announcement to the feed for all users.
    });

    function sendMessage() { // A function that will be called when the button to send a message is clicked.
        let messageInputBoxValue = document.getElementById('newMessage').value; // Get the current value of the input message box.

        if (messageInputBoxValue === '') { // If the message input box was empty...
            alert("Please enter a message."); // Inform the user to enter a message.
            return; // Finish calling the function early, so the WebSocket event isn't fired.
        };

        socket.emit('recieve_message', {message: messageInputBoxValue}); // Send a 'recieve_message' WebSocket event to the Python backend,
                                                                         // containing the message wanting to be sent by the user.
        
        document.getElementById('newMessage').value = ''; // Clear the message input box, ready for the next message to be entered.                                                                 
    };

    socket.on('addMessageToFeed', function(message) { // When the Python backend sends an 'addMessageToFeed' to the JavaScript backend...
        addToFeed(message.message); // Add the sent message to the feed for everyone connected to the website.
    });

</script>

<ul style="list-style: none;" id="feed"></ul> <!-- Creating the feed where server and user messages will be sent. -->

<input type="text" id="newMessage"> <!-- Creating an input box where a user can type the message they want to send -->
<button id="sendmessage" onclick="sendMessage()">Send</button> <!-- A button that when clicked will attempt to send a message. -->